<div class="container">
    <div class="inicio espacio">
        <h3>
            <p><b>Base de Datos: Linux > ALTAS</b></p>
        </h3>
    </div>
    <div class="espaciodos">
        <h4>
            <p><b>Selecciona la tabla:</b></p>
        </h4>
    </div>
    <div class="inicio">
        <div class="card text-center tablas">
            <div class="card-header headertabla" style="color: #fff;"><b>Tablas Disponibles:</b></div>
            <div class="card-body">

                <!-- Codigo de tablas -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Selección</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>ASG</td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark"
                                    (click)="asg.show()">
                                    Seleccionar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>EMP</td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark"
                                    (click)="emp.show()">
                                    Seleccionar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>PAY</td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark"  (click)="pay.show()">
                                    Seleccionar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>PROJ</td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark" (click)="proj.show()">
                                    Seleccionar
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>


            </div>

        </div>

    </div>
    <div class="cdback regreso">
        <a class="btn btn-secondary cdbtnback" style="background-color: #980da5;" routerLink="/ldb" role="button">
            <div class="btntxtback">
                <p><i class="fas fa-arrow-left btniconback"></i>Regresar</p>
            </div>
        </a>
    </div>
    <br><br><br><br>
</div>


<!---------------------MODAL DE TABLA ASG ------------------------------------------------------------------------------>
<div mdbModal #asg="mdbModal" class="modal fade top" id="asgModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color: #a446f1;">
                <!-- TITULO -->
                <h4 class="modal-title white-text w-100 font-weight-bold py-2" >
                    Alta en tabla - ASG
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="asg.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="inicio">
                    <form class="text-center border border-light p-5 form modalstyle"
                        formGroup="asgForm" id = "ags" name = "asg">
                        <p class="h4 mb-4">Introducir los siguientes datos:</p>

                        <!-- ENo-->
                        <input type="text" id="asg_eno" class="form-control mb-4" placeholder="ENo."
                            name="asg_eno">

                        <!-- PNo -->
                        <input type="text" id="asg_pno" class="form-control mb-4" placeholder="PNo."
                            name="asg_pno">

                        <!-- Resp -->
                        <input type="text" id="asg_resp" class="form-control mb-4" placeholder="Resp."
                            name="asg_resp">

                        <!-- Dur -->
                        <input type="number" id="asg_dur" class="form-control mb-4" placeholder="Dur."
                            name="asg_dur">

                        <!-- Boton de Agregar -->
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark"
                            type="submit" (click)="success()">
                            Agregar
                        </button>
                    </form>
                    <!-- Default form login -->
                </div>
            </div>
            <!--/.Body-->
        </div>

    </div>

</div>
<!------------------------------------ FIN DE MODAL DE TABLA ASG ------------------------------------------------------------------------------>


<!-------------------------------------- MODAL DE TABLA EMP ------------------------------------------------------------------------------>
<div mdbModal #emp="mdbModal" class="modal fade top" id="empModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color: #a446f1;">
                <!-- TITULO -->
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                    Alta en tabla - EMP
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="emp.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="inicio">
                    <form class="text-center border border-light p-5 form"
                        formGroup = "empFrom" id = "emp" name = "emp">
                        <p class="h4 mb-4">Introducir los siguientes datos:</p>

                        <!-- ENo-->
                        <input type="text" id="emp_eno" class="form-control mb-4" placeholder="ENo."
                            name="emp_eno">

                        <!-- Ename -->
                        <input type="text" id="emp_ename" class="form-control mb-4" placeholder="EName."
                            name="emp_name">

                        <!-- Title -->
                        <input type="text" id="emp_title" class="form-control mb-4" placeholder="Title."
                            name="emp_title">

                        <!-- Boton de Agregar -->
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark"
                            type="submit" (click)="success()">
                            Agregar
                        </button>
                    </form>
                    <!-- Default form login -->
                </div>
            </div>
            <!--/.Body-->
        </div>

    </div>

</div>
<!------------------------------------ FIN DE MODAL DE TABLA EMP ------------------------------------------------------------------------------>



<!-------------------------------------- MODAL DE TABLA PAY ------------------------------------------------------------------------------>
<div mdbModal #pay="mdbModal" class="modal fade top" id="payModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color: #a446f1;">
                <!-- TITULO -->
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                    Alta en tabla - PAY
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="pay.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="inicio">
                    <form class="text-center border border-light p-5 form" 
                        formGroup = "payForm" id = "pay" name = "pay">
                        <p class="h4 mb-4">Introducir los siguientes datos:</p>

                        <!-- PayNo-->
                        <input type="number" id="pay_payno" class="form-control mb-4" placeholder="PayNo."
                            name = "pay_payno"> 

                        <!-- Title -->
                        <input type="text" id="pay_title" class="form-control mb-4" placeholder="Title."
                            name="pay_title">

                        <!-- Sal -->
                        <input type="number" id="sal_title" class="form-control mb-4" placeholder="Sal."
                            name="pay_sal">

                        <!-- Boton de Agregar -->
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark"
                            type="submit" (click)="success()">
                            Agregar
                        </button>
                    </form>
                    <!-- Default form login -->
                </div>
            </div>
            <!--/.Body-->
        </div>

    </div>

</div>
<!------------------------------------ FIN DE MODAL DE TABLA PAY ------------------------------------------------------------------------------>


<!-------------------------------------- MODAL DE TABLA PROJ ------------------------------------------------------------------------------>
<div mdbModal #proj="mdbModal" class="modal fade top" id="projModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color: #a446f1;">
                <!-- TITULO -->
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                    Alta en tabla - PROJ
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="proj.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="inicio">
                    <form class="text-center border border-light p-5 form"
                        formGroup = "projForm" id = "proj" name = "proj">
                        <p class="h4 mb-4">Introducir los siguientes datos:</p>

                        <!-- Proj -->
                        <input type="text" id="proj_pno" class="form-control mb-4" placeholder="PNo."
                            name="proj_pno">

                        <!-- Pname -->
                        <input type="text" id="proj_pname" class="form-control mb-4" placeholder="PName."
                            name="proj_pname">

                        <!-- Budget -->
                        <input type="number" id="proj_budget" class="form-control mb-4" placeholder="Budget."
                            name="proj_budget">

                        <!-- Boton de Agregar -->
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark"
                            type="submit" (click)="success()">
                            Agregar
                        </button>
                    </form>
                    <!-- Default form login -->
                </div>
            </div>
            <!--/.Body-->
        </div>

    </div>

</div>
<!------------------------------------ FIN DE MODAL DE TABLA PROJ ------------------------------------------------------------------------------>



