<div class="container">
    <div class="inicio espacio">
        <h3>
            <p><b>Base de Datos: Linux > CONSULTAS</b></p>
        </h3>
    </div>
    <!--1-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Asg </b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Pno</th>
            <th scope="col">Resp</th>
            <th scope="col">Dur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--2-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Asg 1</b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Pno</th>
            <th scope="col">Resp</th>
            <th scope="col">Dur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--3-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Asg 2 </b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Pno</th>
            <th scope="col">Resp</th>
            <th scope="col">Dur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--4-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Asg 3</b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Pno</th>
            <th scope="col">Resp</th>
            <th scope="col">Dur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--5-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Eno </b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Ename</th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--6-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Eno 1 </b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Ename</th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--7-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Eno 2 </b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Ename</th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--8-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Eno 3 </b></h4>
          </tr>
          <tr>
            <th scope="col">Eno</th>
            <th scope="col">Ename</th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--9-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Pay</b></h4>
          </tr>
          <tr>
            <th scope="col">Pyno</th>
            <th scope="col">Title</th>
            <th scope="col">Sal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--10-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Pay 1</b></h4>
          </tr>
          <tr>
            <th scope="col">Pyno</th>
            <th scope="col">Title</th>
            <th scope="col">Sal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--11-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Pay 2 </b></h4>
          </tr>
          <tr>
            <th scope="col">Pyno</th>
            <th scope="col">Title</th>
            <th scope="col">Sal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--12-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Pay 3 </b></h4>
          </tr>
          <tr>
            <th scope="col">Pyno</th>
            <th scope="col">Title</th>
            <th scope="col">Sal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--13-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Proj </b></h4>
          </tr>
          <tr>
            <th scope="col">Pno</th>
            <th scope="col">Pname</th>
            <th scope="col">Budget</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--14-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Proj 1 </b></h4>
          </tr>
          <tr>
            <th scope="col">Pno</th>
            <th scope="col">Pname</th>
            <th scope="col">Budget</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--15-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Proj 2</b></h4>
          </tr>
          <tr>
            <th scope="col">Pno</th>
            <th scope="col">Pname</th>
            <th scope="col">Budget</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.population | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>

    <!--16-->
    <div class="espaciodos">
      <table class="table table-striped">
        <thead>
          <tr>
            <h4><b>Proj 3 </b></h4>
          </tr>
          <tr>
            <th scope="col">Pno</th>
            <th scope="col">Pname</th>
            <th scope="col">Budget</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
          </tr>
      </tbody>
    </table>
    </div>
</div>