<div class="titulo">
    <div>
        <h3><b>Elegir base de datos a utilizar:</b></h3>
    </div>
</div>

<div class="inicio">

    <div class="card cdini" style="width: 18rem;">
        <a class="btn btn-primary cdbtn" style="background-color: #1F8ADF;" routerLink="/wdb" role="button">
            <i class="fas fa-database btnicon"></i>
            <div class="btntxt">
                <p>Windows Database</p>
            </div>
        </a>
    </div>

    <div class="card cdini" style="width: 18rem;">
        <a class="btn btn-primary cdbtn" style="background-color: #8D2BDE;" routerLink="/ldb" role="button">
            <i class="fas fa-server btnicon"></i>
            <div class="btntxt">
                <p>Linux Database</p>
            </div>
        </a>
    </div>


</div>